@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
*{
    background-color: black;
    margin: 0px;
}

header{
    color: white;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif
}