body{
  background-image: url(https://wallpapers-hub.art/wallpaper-images/308611.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
ul{
  list-style: none;
  position: absolute;
  right: 20%;
  top: 30%;
  font-size: 50px;
  font-family: "Bursh Script MT", cursive;
}
a:link, a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  font-size: 120%;
}