@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
*{
  margin: 0px;
}

body{
  background-image: url(https://wallpapers-hub.art/wallpaper-images/308611.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  font-family: 'Stick No Bills', sans-serif;
  background-color: black;
  margin-left: 0px;
  height: 60px;
  color: white;
}

h1{
  text-align: center;
  font-size: 30px;
}
ul{
  list-style: none;
  position: absolute;
  right: 20%;
  top: 30%;
  font-size: 50px;
  font-family: "Bursh Script MT", cursive;
  display: inline-block;
  padding-left: 100px;
}

a{
  border-left: 5px solid red;
}

a:link, a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  margin-left: 10px;
}