@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
*{
    background-color: black;
    margin: 0px;
    color: white;
    
}

header{
    position: sticky;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px; 
}

h1{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif
}

img{
    position: absolute;
}

.fas{
    font-size: 30px;
    position: absolute;
    top: 2%;
}

.fa-running{
    left: 30%;
}

.fa-futbol{
    right: 30%; 
}

.fa-gamepad{
    right: 15%;
}

.fa-id-card{
    right: 5%;
}

.fa-coins{
    left: 15%;
}

.vanster{
    margin-left: 7%;
    margin-right: 60%;
    margin-top: 5%;
}



.aktier img{
    width: 30%;
    right: 20%;
    top: 15%;
}

.hoger{
    margin-left: 60%;
    margin-right: 7%;
    margin-top: 10%;
}


.boxning img{
    width: 30%;
    left: 10%;
    top: 72%;
}



.fotboll img{
    width: 30%;
    top: 130%;
    right: 10%;
}


.spela img{
    width: 30%;
    left: 10%;
    top: 190%;
}

footer{
    border-top: 2px solid white;
    margin-top: 300px;
    margin-bottom: 400px;
}